# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id

# API Configuration https://newsapi.org/register/ https://www.marketaux.com/register
VITE_NEWS_API_KEY=your_news_api_key
VITE_MARKETAUX_API_KEY=your_marketaux_key

# Alpha Vantage API - Obtén tu clave gratis en https://www.alphavantage.co/support/#api-key
VITE_ALPHA_VANTAGE_KEY=tu_alpha_vantage_key

# Base URL para producción (GitHub Pages)
VITE_BASE_URL=/real-time-market/